<!DOCTYPE HTML>
<html>
	<head>
		<title>Chat</title>
		<link type="text/css" rel="stylesheet" href="style.css" />
	</head>
	<body>
	
		<h1><%= currentServerName %></h1>
		<form>
			<input type="button" value="DISCONNECT" onclick="window.location.href='/login'" id="logout" />
		</form>
		
		<textarea id="messages" name="messages" rows="30" cols="30" readonly>
<% for(var i = 0; i < rows.length; i++) { %>
#<%= rows[i].userid %> <%= rows[i].name %> (<%= rows[i].time %>)
<%= rows[i].content %>
<%}%>
		</textarea>
		
		<form action="/onsend" method="POST">
			<textarea id="newMessage" name="message" placeholder="message" rows="3" cols="30"></textarea>
			<div class="button right">
				<button type="submit">SEND</button>
			</div>
		</form>
	</body>
</html>

